/* styles.css or inline styles */
.change-theme-button {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: #000000; 
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  font-family: Arial, sans-serif;
  font-size: 14px;
  cursor: pointer;
  text-decoration: none;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

.change-theme-button:hover { /* Lighter Spotify green */
  color: black;
  background: white
}

.pipeline-button {
  position: absolute;
  top: 110px;
  left: 10px;
  background-color: #3126d2; 
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  font-family: Arial, sans-serif;
  font-size: 14px;
  cursor: pointer;
  text-decoration: none;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

.pipeline-button:hover { /* Lighter Spotify green */
  color: black;
  background: white
}

.finished-button {
  position: absolute;
  top: 60px;
  left: 10px;
  background-color: #f200ff; 
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  font-family: Arial, sans-serif;
  font-size: 14px;
  cursor: pointer;
  text-decoration: none;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

.finished-button:hover { /* Lighter Spotify green */
  color: black;
  background: white
}

/* Full width and height modal with padding */
.full-size-modal .modal-dialog {
  width: 95%;  /* Use 95% of the screen width */
  max-width: 95%;
  height: calc(100vh - 40px); /* Full screen height minus top and bottom margins */
  margin: 20px auto;  /* Apply equal margin on top and bottom (20px each) */
}

.full-size-modal .modal-content {
  height: 100%;
  display: flex;
  flex-direction: column;
}

/* Modal body scrollable if content is too tall */
.full-size-modal .modal-body {
  flex-grow: 1;
  overflow-y: auto; /* Make body scrollable if content exceeds height */
}

/* Ensure that on small screens, the modal takes up most of the height */
@media (max-width: 767px) {
  .full-size-modal .modal-dialog {
    max-width: 100%;
    width: 100%;
    height: calc(100vh - 20px); /* Adjust for small screens, ensuring the modal isn't off-screen */
    margin: 10px 0; /* Small margin for mobile */
  }
  .full-size-modal .modal-body {
    padding: 10px; /* More padding for mobile */
  }
}

.album-release-date {
  font-size: small;
}

/* Full width and height modal with padding */
.lt-full-size-modal .modal-dialog {
  width: 50%;  /* Use 95% of the screen width */
  max-width: 95%;
  height: calc(100vh - 80px); /* Full screen height minus top and bottom margins */
  margin: 20px auto;  /* Apply equal margin on top and bottom (20px each) */
}

.lt-full-size-modal .modal-content {
  height: 100%;
  display: flex;
  flex-direction: column;
}

/* Modal body scrollable if content is too tall */
.lt-full-size-modal .modal-body {
  flex-grow: 1;
  overflow-y: auto; /* Make body scrollable if content exceeds height */
}

/* Ensure that on small screens, the modal takes up most of the height */
@media (max-width: 767px) {
  .lt-full-size-modal .modal-dialog {
    max-width: 100%;
    width: 100%;
    height: calc(100vh - 20px); /* Adjust for small screens, ensuring the modal isn't off-screen */
    margin: 10px 0; /* Small margin for mobile */
  }
  .lt-full-size-modal .modal-body {
    padding: 10px; /* More padding for mobile */
  }
}